<div class="confirm-delete-modal">
	<p>"Are you sure you want to delete this task?"</p>
	<br>
	<button {{action 'deleteTask' task myList}}>delete</button>
	<button {{action 'inModalToggle'}}>cancel</button>
</div>