
  <div class="modal-body">
  <div class='title'>
        {{input value=title}}
  </div>
    

		<div class="task-description">

  		Description:
  		<br> 
	  		{{textarea value=description}}

		</div>

      {{!-- {{yield}} --}}
  </div>

