
  <div class="modal-body">
    <div class='modal-task-title'>
          {{input value=title}}
    </div>
    

		<div class="task-description">
      <br>
  		<h4>Description:</h4>
  		
	  		{{textarea value=description}}

		</div>

      {{!-- {{yield}} --}}
  </div>

