<article class="listing">
  <h3>{{list.title}}</h3>
  
  <div class="details">
    <span>Description:</span> {{list.description}}
    <a class="newTask">
    <button>Add Task</button>
  	</a>
  </div>  

</article>