<div class="task">

	<div class="show-task" {{action "toggleModal"}}>
		<p> {{task.taskName}} </p>
	</div>

	{{#if isShowingModal}}
		{{#modal-dialog 
			onClose=(action "toggleModal" false) 
      targetAttachment='center'
      translucentOverlay=true
    }}


			{{edit-task-modal 
				description=task.description 
				title=task.taskName 
				myTask=task
				id=task.id 
				list=myList 
				onclose=(action "toggleModal")
			}}
  	{{/modal-dialog}}
	{{/if}}

</div>


