<div class="list">
  
	<h3>{{list.name}}</h3>
    
      {{#each list.tasks as |taskName|}}
        <p>{{task-display task=taskName myList=list}}</p>
      {{/each}}

    <div class='input'>
        <a href {{action "openNewTask"}}>Add Task</a>
        {{#if addATask}}
          {{input value=taskName enter="addTask"}}
        {{/if}}
    </div>

</div>