<article class="task">
  <a {{action 'openModal' task.id}}>{{task.taskName}}</a>

</article>

  {{#edit-task-modal enabled=false description=task.description title=task.taskName id=task.id task=task}}
		
	{{/edit-task-modal}}
