<article class="task">
  <a {{action 'openModal' task.id}}>{{task.taskName}}</a>
  <br>
  <p>{{task.description}}</p>

</article>

  {{#edit-task-modal enabled=false description=task.description title=task.taskName id=task.id list=myList}}
		
	{{/edit-task-modal}}
