<article class="list">
  
	<h3>{{list.name}}</h3>
    <ul>
      {{#each list.tasks as |task|}}
          <li>{{task.taskName}}</li>
      {{/each}}

    </ul>
    {{input value=taskName}}
      <button {{action "addTask"}}>Add Task</button>
</article>