<article class="task">
  {{task.taskName}} 

  <button {{action "toggleModal"}}>Toggle Modal</button>

{{#if isShowingModal}}
  {{#edit-task-modal onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Oh hai there!
  {{/edit-task-modal}}
{{/if}}

</article>


