<article class="list">
  
	<h3>{{list.name}}</h3>
    <ul>
      {{!-- {{#each list.tasks as |task|}} --}}
      {{#each-in list.tasks as |task description| }}
        <li>{{task}}</li>
      {{/each-in}}  

    </ul>
    {{input value=taskName}}
      <button {{action "addTask"}}>Add Task</button>
</article>