<div class="list">
  
	<h3>{{list.name}}</h3>
    
      {{#each list.tasks as |taskName|}}
        <p>{{task-display task=taskName myList=list}}</p>
      {{/each}}

    <div class='input'>
      {{input value=taskName}}
        <button {{action "addTask"}}>Add Task</button>
    </div>

</div>