@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.lists {
	display: flex;
	flex-direction: row;
	border: 1px;
	border-style: solid;
	overflow:scroll;
	width:100%;
}

.list {
	border: 1px;
	border-style:solid;
	padding: 10px;
	margin: 20px;
	width: 200px;
	background-color: #b6e1fc;
}

.addlist {
	margin: 20px;
	padding: 20px;
}
.addlist input{
	font-size: 14pt;
	font-weight: bold;
}

.add-task-input input{
	font-size: 11pt;
	padding: 10px;
	margin: 11px;
	border: 1px;
	border-style: solid;
	max-width: 155px;
}

.show-task {
	border: 1px;
	border-style:solid;
	padding: 10px;
	margin: 10px;
	background-color: white;
}

.app-name {
	font-family: 'Cabin Sketch';
	font-size: 25px;
}

.container {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.modal-body {
  min-width: 400px;
  min-height: 250px;
  font-family: 'Open Sans', sans-serif;
}
.modal-task-title input{
	font-size: 16pt;
}
.task-description {
	min-width: 100px;
  min-height: 75px;
}
.task-description textarea{
	min-width: 250px;
	min-height: 100px;
	font-size: 10pt;
}
.modal-buttons{
	float: right;
}

.confirm-delete-modal{
	font-family: 'Open Sans', sans-serif;
}