@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.lists {
	display: flex;
	flex-direction: row;
	border: 1px;
	border-style: solid;
	overflow:scroll;
	width:100%;
}

.list {
	border: 1px;
	border-style:solid;
	padding: 10px;
	margin: 20px;
	width: 200px;
	background-color: #b6e1fc;
}

.addlist {
	// border: 1px;
	// border-style:solid;
	margin: 20px;
	padding: 10px;
	// width:200px;
	// background-color: #b6e1fc;
}

.show-task {
	border: 1px;
	border-style:solid;
	padding: 10px;
	margin: 10px;
	background-color: white;
}

.app-name {
	font-family: 'Cabin Sketch';
	font-size: 25px;
}

.container {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}