<div class="container">
	<h2>Lists</h2>
  
  <div class="lists">
  	{{#each model as |listName|}}
  		{{task-list list=listName}}

	 {{/each}}

  <div class="addlist">
    {{input value=listName}}
    <button {{action "addList"}}>Add List</button>
  </div>
  </div>

</div>