<div class="container">
	<h2>Lists</h2>
  
  <div class="lists">
  	{{#each model as |listName|}}
  		{{task-list list=listName}}

	 {{/each}}

    <div class="addlist">
      <a href {{action "openNewList"}}> Add a list...</a>
      {{#if addAList}}
        {{input value=listName enter="addList"}}
      {{/if}}

    </div>
  </div>

</div>