<div class="container">
	<h2>Lists</h2>
  
  <div class="lists">
  	{{#each model as |listName|}}
  		{{task-list list=listName}}

	 {{/each}}

    <div class="addlist" {{action "openNewList"}}>
      {{#if addAList}}
        {{input value=listName enter="addList"}}
      {{else}}
          <a href> Add a list...</a>
      {{/if}}

    </div>
  </div>

</div>